:root{
    --white: #404040;
    --dark-white: #686868;
    --played: rgb(231, 175, 175);
    --red: rgb(153, 0, 0);
    --blue: blue;
    --light-black: #e3e3e3;
    --overlay: rgb(255 255 255 / 60%);
    --black: white;
}