/* import NOTO SANS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,span{
    cursor: default;
    color: var(--black);
}

body{
    text-align: center;
    background-color: var(--dark-white);
    font-family: 'Noto Sans Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > div{
    width: 100%;
    max-width: 600px;
}

button{
    height: 60px;
    max-width: 300px;
    width: 100%;
    font-size: 16pt;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}

    button:active{
        transform: translateY(1px);
    }




#players_overlay{
    position: fixed;
    width: 100%;
    top: 30px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #players_overlay p{
        font-size: 12pt;
        font-weight: normal;
        transition: font-size 0.4s, font-weight 0.4s;
    }

    #players_overlay .active_player{
        font-size: 15pt;
        font-weight: bold;
        transition: font-size 0.4s, font-weight 0.4s;
    }

    #players_overlay div{
        width: 1px;
        height: 60px;
        background-color: var(--black);
        margin-right: 30px;
        margin-left: 50px;
    }







#tictactoe{
    display: inline-grid;
    position: relative;
    width: 100%;
    max-width: 492px;
    grid-gap: 4px;
    border: 4px solid var(--red);
    background-color: var(--red);
    grid-template-columns: auto auto auto;
    margin-top: 10px;
}

h1{
    font-size: 40pt;
}

#tictactoe > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: var(--white);
    cursor: pointer;
    transition: background-color 0.1s;
}

    #tictactoe > div:hover{
        background-color: var(--red);
        transition: background-color 0.1s;
    }


#tictactoe img{
    height: 60px;
    width: auto;
    position: absolute;
    pointer-events: none;
}

.played{
    background-color: var(--played)!important;
}




#winning_fiesta{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    top:0;left: 0;right: 0;bottom: 0;
    color: var(--white);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    #winning_fiesta h1{
        color: var(--white);
    }

    #winning_fiesta > div{
        max-width: 100%;
        width: 100%;
    }

    #winning_fiesta button{
        background-color: var(--white);
        margin-top: 30px;
    }

        #winning_fiesta button:hover{
            background-color: var(--light-black);
        }

.confetti > div {
    width: 15px;
    height: 15px;
    background-color: #f2d74e;
    position: absolute;
    top: -250px;
    left: 50%;
    animation: confetti 5s ease-in-out -2s infinite;
    transform-origin: left top;
    animation-iteration-count: 1;
}

.confetti > div:nth-child(1) {
    background-color: #f2d74e; left: 10%; animation-delay: 0;
}
.confetti > div:nth-child(2) {
    background-color: #95c3de; left: 20%; animation-delay: -5s;
}
.confetti > div:nth-child(3) {
    background-color: #ff9a91; left: 30%; animation-delay: -3s;
}
.confetti > div:nth-child(4) {
    background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}
.confetti > div:nth-child(5) {
    background-color: #95c3de; left: 50%; animation-delay: -4s;
}
.confetti > div:nth-child(6) {
    background-color: #ff9a91; left: 60%; animation-delay: -6s;
}
.confetti > div:nth-child(7) {
    background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
}
.confetti > div:nth-child(8) {
    background-color: #95c3de; left: 80%; animation-delay: -2s;
}
.confetti > div:nth-child(9) {
    background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
.confetti > div:nth-child(10) {
    background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
}

@keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
    50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
    75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
    90% { opacity: 1; }
    100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); opacity: 0;}
}

